{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://jaysalvat.github.io/vegas/releases/latest/vegas.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>
  <body>
  <div style="width: 100%;"  class="header">
  <div class="cs_logo">
  <img src="assets/img/countershade_logo.png">
  </div>
  <div class="nav">
  <span class="nav_items"><font style="color:white;float:left;padding-right: 20px; padding-top: 10px;">
  <span class="nav_item">HOME</span> 
  <span class="nav_item">ABOUT</span> 
  <span class="nav_item">CONTACT</span>
  </font></span>
  <span style="color:white;float:right;"><img src="assets/img/login_logo.png"></span>
  </div>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{{root}}assets/js/app.js""></script>
    <script src="{{root}}assets/js/vegas/vegas.js"></script>
<script>

$("body").vegas({
    slides: [
    { src: 'assets/img/home_background.jpg' }
    ]
});

</script>
</body>
</html>